<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <span class="text-white">Olá, {{ current_user.name }}</span>
            </div>

            <ul class="navbar-nav align-items-center ml-md-auto">                  
                <li class="nav-item dropdown">
                    <a (click)="logOut()" class="nav-link" href="#">
                        <i class="ni ni-bell-55"></i> Terminar sessão
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>