<aside class="sidebar">
    <figure class="text-center">
        <img class="" src="../../../../assets/img/unig_white.png" alt="unig-logo">
    </figure>
    <nav class="nav flex-column">
        <div class="flex-shrink-0 p-3">
            <ul class="list-unstyled ps-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Página Inicial</a>
                </li>
                <li class="mb-1">
                    <button
                        class="btn btn-toggle align-items-center rounded accordion-button collapsed sidebar__button--background"
                        data-bs-toggle="collapse" data-bs-target="#gestão-clientes-collapse" aria-expanded="false">
                        Gestão de Clientes
                    </button>
                    <div class="collapse" id="gestão-clientes-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Clientes</a>
                            </li>
                            <li class="nav-item">
                                <button
                                    class="btn btn-toggle align-items-center rounded accordion-button collapsed sidebar__button--background"
                                    data-bs-toggle="collapse" data-bs-target="#contratos-collapse"
                                    aria-expanded="false">
                                    Contratos
                                </button>
                                <div class="collapse" id="contratos-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="#">Novo Contrato</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button
                        class="btn btn-toggle align-items-center rounded accordion-button collapsed sidebar__button--background"
                        data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                        Facturação
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Registrar Facturação</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Listar Facturação</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Recibos</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</aside>
