<table class="table">
    <thead>
        <tr>
            <th width="80">Nº</th>
            <th width="300">Nome</th>
            <th width="100">NIF</th>
            <th width="100">Gênero</th>
            <th width="150">Tipo Cliente</th>
            <th width="100">Telefone</th>
            <th width="100">E-mail</th>
            <th width="100">Município</th>
            <th width="100">Bairro/Zona</th>
            <th width="180">Morada</th>
            <th width="180">Estado</th>
            <th width="60">Acção</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>1</td>
            <td>Bruno Vivaldo</td>
            <td>2334343332</td>
            <td>Masculino</td>
            <td>Comércio e Serviços</td>
            <td>934323233</td>
            <td></td>
            <td>Moçamedes</td>
            <td>Chinguri</td>
            <td>Luanda</td>
            <td>
                <button type="button" class="btn btn-success btn--estado">Activo</button>
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Outros</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Editar</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" href="#">Contas</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Bruno Vivaldo</td>
            <td>2334343332</td>
            <td>Masculino</td>
            <td>Comércio e Serviços</td>
            <td>934323233</td>
            <td></td>
            <td>Moçamedes</td>
            <td>Chinguri</td>
            <td>Luanda</td>
            <td>
                <button type="button" class="btn btn-danger btn--estado">Desactivo</button>
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Outros</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Editar</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" href="#">Contas</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Bruno Vivaldo</td>
            <td>2334343332</td>
            <td>Masculino</td>
            <td>Comércio e Serviços</td>
            <td>934323233</td>
            <td></td>
            <td>Moçamedes</td>
            <td>Chinguri</td>
            <td>Luanda</td>
            <td>
                <button type="button" class="btn btn-danger btn--estado">Desactivo</button>
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Outros</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Editar</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" href="#">Contas</a></li>
                    </ul>
                </div>
            </td>
        </tr>



    </tbody>
</table>

<app-criar-editar-clientes></app-criar-editar-clientes>