<app-navbar></app-navbar>
  
<div class="main-content">

    <div class="header bg-primary pt-5 pb-7">
        <div class="container">
            <div class="header-body">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="pr-5">
                            <h1 class="display-2 text-white font-weight-bold mb-0">SME Demo</h1>
                            <h2 class="display-4 text-white font-weight-light">O seu portal de serviços integrados.</h2>
                            <p class="text-white mt-4">
                                Somos (SME), Serviço de Migração e Estrangeiros e queremos estabelecer uma relação transparente com os públicos com quem comunicamos, por meio da demonstração clara dos procedimentos vigentes, pois, só assim,
                                poderemos identificar as necessidades dos destinatários, sejam eles internos ou externos.
                            </p>
                            <div class="mt-5">
                                <a routerLink="/fazer-agendamento" class="btn btn-default my-2 text-yellow">Agendar agora</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row pt-5">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow mb-4">
                                            <i class="ni ni-active-40"></i>
                                        </div>
                                        <h5 class="h3">Vistos</h5>
                                        <p>Somos (SME), Serviço de Migração e Estrangeiros.</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow mb-4">
                                            <i class="ni ni-active-40"></i>
                                        </div>
                                        <h5 class="h3">PassPortes</h5>
                                        <p>Somos (SME), Serviço de Migração e Estrangeiros e queremos estabelecer uma relação transparente com os públicos.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pt-lg-5 pt-4">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="icon icon-shape bg-gradient-success text-white rounded-circle shadow mb-4">
                                            <i class="ni ni-active-40"></i>
                                        </div>
                                        <h5 class="h3">Outros serviços</h5>
                                        <p>Somos (SME), Serviço de Migração e Estrangeiros e queremos estabelecer.</p>
                                    </div>
                                </div>
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="icon icon-shape bg-gradient-warning text-white rounded-circle shadow mb-4">
                                            <i class="ni ni-active-40"></i>
                                        </div>
                                        <h5 class="h3">Documentation</h5>
                                        <p>Somos (SME), Serviço de Migração e Estrangeiros e queremos estabelecer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>  

</div>
  