.topmenu {
    background-color: #434432;
    width: 100%;
}

.top {
    display: flex;
}

.menu__name {
    background-color: #9da327;
    margin-left: 0.5px;
    width: inherit;
}

.user__info {
    display: flex;
    margin-left: 120px;
}

.user--name {
    margin-top: 4px;
}

.user--icon {
    margin-top: 4px;
    margin-right: 30px;
}

.arrow--icon {
    margin-left: 30px;
}