.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.topmenu {
    background-color: #434432;
}

.user__info {
    display: flex;
    flex-direction: row;
}

.user--icon {
    margin: 8px 8px;
}

.user--name {
    margin: 10px 8px;
}

.arrow--icon {
    margin: 8px 18px;
}

.menu__name {
    background-color: #9da327;
    background-size: contain;
}

.menu__name--width {
    font-weight: bold;
    margin: 0;
    font-size: 18px;
    height: 35px;
    margin: 0 20px;
}