<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row align-items-start">
                        <div class="col mb-3">
                            <label for="nome" class="col-form-label">Nome:</label>
                            <input type="text" class="form-control" id="nome">
                        </div>
                        <div class="col mb-2">
                            <label for="tipo_cliente" class="col-form-label">Tipo Cliente:</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Particulares</option>
                                <option value="1">Comércio e Serviços </option>
                                <option value="2">Doméstico</option>
                                <option value="3">Indústria</option>
                                <option value="3">Geral</option>
                              </select>
                        </div>
                        <div class="col mb-2">
                            <label for="nif" class="col-form-label">Nif:</label>
                            <input type="text" class="form-control" id="nif">
                        </div>
                    </div>

                    <div class="row align-items-start">
                        <div class="col mb-2">
                            <label for="genero" class="col-form-label">Gênero</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Masculino</option>
                                <option value="1">Femenino </option>
                                <option value="2">Outro</option>
                            </select>
                        </div>
                        <div class="col mb-3">
                            <label for="telefone" class="col-form-label">Telefone:</label>
                            <input type="text" class="form-control" id="telefone">
                        </div>
                        <div class="col mb-2">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="email" type="email">
                        </div>
                    </div>

                    <div class="row align-items-start">
                        <div class="col mb-2">
                            <label for="Provincia" class="col-form-label">Província</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Luanda</option>
                                <option value="1">Malanje </option>
                                <option value="2">Benguela</option>
                            </select>
                        </div>
                        <div class="col mb-3">
                            <label for="municipio" class="col-form-label">Município:</label>
                            <input type="text" class="form-control" id="municipio">
                        </div>
                        <div class="col mb-2">
                            <label for="bairro" class="col-form-label">Bairro/Zona:</label>
                            <input type="text" class="form-control" id="bairro">
                        </div>
                    </div>

                    <div class="row align-items-start">

                        <div class="col mb-3">
                            <label for="morada" class="col-form-label">Morada:</label>
                            <input type="text" class="form-control" id="morada">
                        </div>
                        <div class="col mb-2">
                            <label for="estado" class="col-form-label">Estado</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Activo</option>
                                <option value="1">Desactivo </option>
                            </select>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send message</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>