.row {
    height: 100vh;
}

.login__logo--image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 20%;
}

form {
    margin-top: 8%;
}

.container--form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.button--container {
    margin-left: auto;
    margin-right: auto;
}

.login__form--input {
    margin-left: auto;
    margin-right: auto;
}

.login__form--forget {
    margin-top: 5px;
    text-decoration: none;
}

.login__form--forget-password {
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.container__form--forget {
    text-decoration: none;
}

.copyright {
    margin-top: 8%;
    text-align: center;
}

.image {
    background-image: url("../../../../assets/img/bw_landing.png");
    background-size: cover;
}