<section class="login col">
    <article class="row a">
        <div class="login__logo ">
            <img class="login__logo--image" src="../../../../assets/img/img/epas_namibe.png" alt="">
        </div>
    </article>


    <div class="form container-sm">
        <form class="">
            <div class="mb-3">
                <label for="InputEmail" class="form-label">Email :</label>
                <input type="email" class="form-control login__form--input" id="InputEmail" placeholder="Digite o seu email">
            </div>
            <div class="mb-3">
                <label for="InputPassword " class="form-label">Password :</label>
                <input type="password" class="form-control login__form--input" id="InputPassword" placeholder="Digite o sua password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input " id="Check">
                <label class="form-check-label" for="Check">Lembrar-me</label>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>

            <div class="col align-self-center">
                <a href="">Esqueci minha palavra-passe</a>
            </div>
        </form>
        <div class="copyright">
            <p>2020-2021 UNIG© | Todos os Direitos Reservados</p>
        </div>
    </div>

</section>



<section class="image col">

</section>